<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>databaseName</param-name>
        <param-value>XYZ_Assoc</param-value>
    </context-param>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.user.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.user.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>servlets.user.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewPayments</servlet-name>
        <servlet-class>servlets.admin.ViewPayments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakePayment</servlet-name>
        <servlet-class>servlets.member.MakePayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberViewPayments</servlet-name>
        <servlet-class>servlets.member.ViewPayments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeClaim</servlet-name>
        <servlet-class>servlets.member.MakeClaim</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberViewClaims</servlet-name>
        <servlet-class>servlets.member.ViewClaims</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMembers</servlet-name>
        <servlet-class>servlets.admin.ViewMembers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewClaims</servlet-name>
        <servlet-class>servlets.admin.ViewClaims</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnnualTurnover</servlet-name>
        <servlet-class>servlets.admin.ReportTurnover</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessMember</servlet-name>
        <servlet-class>servlets.admin.ProcessMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessClaim</servlet-name>
        <servlet-class>servlets.admin.ProcessClaim</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/signup.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewPayments</servlet-name>
        <url-pattern>/admin/view-payments.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberViewPayments</servlet-name>
        <url-pattern>/member/view-payments.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakePayment</servlet-name>
        <url-pattern>/member/make-payment.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberViewClaims</servlet-name>
        <url-pattern>/member/view-claims.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMembers</servlet-name>
        <url-pattern>/admin/view-members.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewClaims</servlet-name>
        <url-pattern>/admin/view-claims.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnnualTurnover</servlet-name>
        <url-pattern>/admin/annual-turnover.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
